extends partial/main

append scripts
	+script("board")

block body
	ul.board
		each topic in board.slice(page*perpage, (page + 1)*perpage)
			li.topic
				h4= topic.title
				.user= topic.username
				time= topic.created.toGMTString()
				.body= topic.preview
	#error
	input#bulletin-topic(type="text")
	include partial/shell
