extends partial/main

append scripts
	+script("bulletin")

block body
	ul.bulletin
		each post in bulletin
			li
				|#[.user= post.username] #[.body= post.body]
				| #[time= post.created.toGMTString()]
	input#bulletin-post(type="text")
