doctype html
html
	head
		include style-main
		include script-main
	body
		main.bulletin
			ul
				each post in bulletin
					li
						|#[.user= post.user] #[.body= post.body]
						| #[time= post.created.toGMTString()]
		include shell
