extends partial/main

block body
	h2= `Index of ${cwd}`
	table
		thead
			tr
				th Name
				th Size
				th Modified
		tbody
			tr
				td: a(href="..") ..
				td
				td
			
			//- Get rid of duplicates caused by overlaying multiple
			//-  route handlers for the same routes
			- var seen = [];
			- files = files.filter(v => {
			-	if(seen.indexOf(v.name) === -1) {
			-		seen.push(v.name);
			-		return true;
			-	}
			-	else {
			-		return false;
			-	}
			- });
			- files.sort((a, b) => b.isDirectory() - a.isDirectory() || b - a);
			each f in files
				- var {mtime, size} = f.stat || {};
				tr
					td: a(href=`${cwd}${f.name}`)= f.name
					td.size
						+size(size)
					td
						if mtime
							time= stat.mtime
						else
							|-
