include mixins
doctype html
html
	head
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="theme-color" content="#ffffff")
		
		title
			block title
				= cwd
		
		block styles
			//- Inline styles for the most basic stuff (colors/fonts)
			style body{background:black;color:ghostwhite;font-family:courier}
			+style("main")
			if config.debug
				+style("debug")
		block scripts
			script
				| 'use strict';
				| var user = !{JSON.stringify(user || {name: 'nobody'})};
				include ../../public/etc/scripts/main.js
			+script("parse")
			+script("time")
			+script("prompt.tpl")
	body
		#shell
			main#stdout
				block body
			#current
				include prompt
			#input
				textarea#stdin(autofocus rows=1)
				input#stdpass(type="password")
		footer
			a(href="https://github.com/U413/u413")
				= `${config.name} v${config.version}`
			|  (#[a(href="irc://irc.jamezq.com/#u413") IRC])
