include mixins
doctype html
html
	head
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="theme-color" content="#ffffff")
		
		block styles
			+style("main")
		block scripts
			+script("main")
			script!= `var user = ${JSON.stringify(user || {name: 'guest'})};`
	body
		header
			ul.horiz
				li: a(href="/bin/login") /bin/login
				li: a(href="/bin/useradd") /bin/useradd
				li: a(href="/var/bulletin") /var/bulletin
				
		main
			block body
		include shell
