include mixins

//- Usage: include shell
.shell
	#buffer
	#shellinfo
		- user = user || {name: "guest"};
		|#[.user= user.name]@#[.host u413.com]:
		.cwd= cwd || "./"
		.access= user.access || "$"
	#prompt.show-cli
		input#cli(
			autofocus
			autocomplete="off" autocorrect="off"
			autocapitalize="off" spellcheck="false"
		)
		textarea#stdin
	+script("shell")
