include util

.shell
	- user = user || {name: "guest"};
	|#[.user= user.name]@#[.host u413.com]:
	.cwd= cwd || "./"
	.prompt= user.prompt || "$"
	| 
	input#cli(
		autofocus
		autocomplete="off" autocorrect="off"
		autocapitalize="off" spellcheck="false"
	)
	+script("shell")
