/* Base styles */

body {
	background-color: red;
	color: ghostwhite;
	font-family: courier;
}

time {
	color: darkgrey;
	display: inline-block;
	font-size: 0.8em;
	
	&::before {
		content: '[';
	}
	
	&::after {
		content: ']';
	}
}

input, textarea {
	outline: none;
	border: none;
	font-family: courier;
	background-color: black;
	color: ghostwhite;
	
	&::selection {
		background-color: ghostwhite;
		color: black;
	}
}

table {
	width: 100%;
}

#bulletin-post {
	border-bottom: 1px solid darkgrey;
}

ul.horiz {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		display: inline-block;
		margin-right: 1em;
	}
}

a, a:visited {
	color: cornflowerblue;
	font-weight: bold;
}

#buffer {
	& > div {
		margin: 0;
	}
	
	.error {
		color: red;
	}
}

/* Classes */

.shell {
	.user, .host {
		color: limegreen;
	}
	.cwd {
		color: cornflowerblue;
	}
	.access {
		color: cyan;
	}
}

#buffer {
	display: block;
	border: 1px solid darkgrey;
	
	.item {
		display: block;
	}
}

#shellinfo {
	display: inline-block;
	div {
		display: inline-block;
		font-weight: bold;
	}
}

#prompt {
	margin-left: 0.5em;
	display: inline-block;
}

#cli, #stdin {
	display: none;
}
.show-cli #cli {
	display: inline-block;
}
.show-stdin #stdin {
	display: inline-block;
}

.bulletin {
	.user {
		display: inline-block;
		
		&::before {
			content: '<';
		}
		
		&::after {
			content: '>';
		}
	}
	
	.body {
		display: inline-block;
	}
}

.login input, .useradd input {
	border-bottom: 1px solid darkgrey;
}
