/* Base styles */

body {
	background-color: black;
	color: ghostwhite;
	font-family: courier;
	margin: 0;
	
	word-wrap: break-word;
	word-break: break-all;
}

footer {
	text-align: center;
	color: dimgrey;
}

time {
	color: darkgrey;
	display: inline-block;
	font-size: 0.8em;
	
	&::before {
		content: '[';
	}
	
	&::after {
		content: ']';
	}
}

textarea#stdin {
	outline: none;
	border: none;
	font-family: courier;
	font-size: inherit;
	background-color: black;
	color: ghostwhite;
	box-sizing: border-box;
	
	line-height: 1.2em;
	
	width: 100%;
	
	margin-top: -2px;
	margin-left: -2px;
	resize: none;
	overflow: auto;
	
	&::selection {
		background-color: ghostwhite;
		color: black;
	}
}

input {
	outline: none;
	border: none;
	font-family: courier;
	font-size: inherit;
	background-color: black;
	color: ghostwhite;
	
	width: 100%;
	
	&::selection {
		background-color: ghostwhite;
		color: black;
	}
}

table {
	width: 100%;
}

.tab {
	display: inline-block;
	width: 4ch;
}

.error {
	color: red;
}

#bulletin-post {
	border-bottom: 1px solid darkgrey;
}

ul.horiz {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		display: inline-block;
		margin-right: 1em;
	}
}

a, a:visited {
	color: cornflowerblue;
	font-weight: bold;
}

/* Classes */

#shell {
	.user {
		color: limegreen;
	}
	.host {
		color: grey;
	}
	.nobody {
		color: crimson;
	}
	.access {
		color: cyan;
	}
	.dir {
		color: cornflowerblue;
	}
	.base {
		color: gold;
	}
}

.prompt {
	display: inline-block;
}

#current .prompt {
	position: absolute;
}

.prompt > * {
	display: inline-block;
	font-weight: bold;
}

#cli, #stdin {
	border: 1px solid grey;
}
.show-cli #cli {
	display: inline-block;
}
.show-stdin #stdin {
	display: inline-block;
}

.bulletin {
	.user {
		display: inline-block;
		
		&::before {
			content: '<';
			color: darkgrey;
		}
		
		&::after {
			content: '>';
			color: darkgrey;
		}
	}
	
	.body {
		display: inline-block;
	}
}

.login input, .useradd input {
	border-bottom: 1px solid darkgrey;
}
